@import url(reset.css);
@import url(keyframes.css);
@media screen and (max-width: 767px) {
  .wrap {
    position: relative;
    overflow: hidden;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Arial, Georgia;
    z-index: 99;
    height: 70px;
    border-bottom: 1px solid #e5e5e5;
    background: #f6f5ef;
  }
  .gnb_wrap .logo {
    position: absolute;
    left: 10px;
    top: 13px;
    width: 45px;
    height: 45px;
  }
  .gnb_wrap .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(img/logo.png);
    background-size: 45px, auto;
  }
  .gnb_wrap .gnb_top {
    display: none;
  }
  .gnb_wrap .gnb_top .search {
    display: none;
  }
  .gnb {
    display: none;
  }
  .tablet_gnb {
    height: 100%;
  }
  .tablet_gnb ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .tablet_gnb ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }
  .tablet_gnb ul li a {
    display: inline-block;
  }
  .tablet_gnb ul li .tablet_gnb01 {
    background: url(img/icon_user_m.png);
    background-size: 100% auto;
    width: 25px;
    height: 30px;
  }
  .tablet_gnb ul li .tablet_gnb02 {
    background: url(img/icon_spot_m.png);
    background-size: 100% auto;
    width: 24px;
    height: 32px;
  }
  .tablet_gnb ul li .tablet_gnb03 {
    background: url(img/btn_berger_m.png);
    background-size: 100% auto;
    width: 28px;
    height: 26px;
  }
  .m_gnb_bg {
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    z-index: 1000;
  }
  .m_gnb_wrap {
    width: 70%;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background-color: #111;
    z-index: 1000;
    font-family: Arial, Georgia;
  }
  .m_gnb_wrap .m_gnb_inner {
    overflow: auto;
    height: 100%;
  }
  .m_gnb_inner .m_gnb_close {
    width: 20px;
    height: 20px;
    position: absolute;
    left: -45px;
    top: 25px;
    cursor: pointer;
  }
  .m_gnb_inner .m_gnb_close span {
    display: block;
    background: url(img/btn_gnb_close.png);
    background-size: 20px auto;
    width: 100%;
    height: 100%;
    transition: transform 1s;
  }
  .m_gnb_inner .m_gnb_close span:hover,
  .m_gnb_inner .m_gnb_close span:focus {
    transform: rotate(180deg);
  }
  .m_gnb_inner .m_gnb_search {
    background-color: #2d2926;
    border-bottom: 1px solid #222;
    width: 100%;
    height: 70px;
    position: relative;
  }
  .m_gnb_inner .m_gnb_search .m_gnb_search_inner {
    width: 220px;
    height: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .m_gnb_search_inner input {
    border: 1px solid #e3e1d2;
    border-radius: 3px;
    float: left;
    height: 28px;
    width: 140px;
    box-sizing: border-box;
  }
  .m_gnb_search_inner a {
    background: #666;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    float: right;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .m_gnb_menu .m_gnb_title {
    background-color: #111;
    border-bottom: 1px solid #222;
    font-size: 14px;
    line-height: 50px;
    position: relative;
  }
  .m_gnb_menu .m_gnb_title1 {
    background-color: #2d2926;
    border-bottom: 1px solid #222;
  }
  .m_gnb_menu > li {
    background: #181818;
    border-bottom: 1px solid #222;
    font-size: 14px;
    line-height: 50px;
  }
  .m_gnb_menu .m_gnb_title > a {
    padding-left: 10px;
  }
  .arrow_up {
    display: block;
    background: url(img/mob_gnb_arrow_up_w.png) no-repeat;
    background-size: 16px auto;
    width: 16px;
    height: 12px;
    position: absolute;
    right: 5%;
    top: 20px;
  }
  .arrow_sub {
    background: url(img/mob_gnb_arrow_up_g.png) no-repeat;
    background-size: 16px auto;
    display: block;
    width: 16px;
    height: 12px;
    position: absolute;
    right: 5%;
    top: 20px;
  }
  .m_gnb_menu,
  .m_gnb_sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .m_gnb_menu > li,
  .m_gnb_sub > li {
    position: relative;
    background-color: #181818;
    border-bottom: 1px solid #222;
    font-size: 14px;
  }
  .m_gnb_menu > li > a,
  .m_gnb_sub > li > a {
    padding-left: 15px;
    color: white;
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: relative;
  }
  .m_gnb_sub2 > li {
    background-color: #222;
    line-height: 30px;
  }
  .m_gnb_sub2 > li > a {
    display: block;
    color: #999;
    height: 30px;
    width: 100%;
    padding-left: 25px;
    font-size: 14px;
  }
  .section_top {
    position: relative;
    width: 100%;
    height: 70px;
  }
  section {
    position: relative;
  }
  .main {
    position: relative;
    width: 100%;
    height: 267.03vw;
    background: url(img/2022_m_NewYear_main_bg.png) no-repeat;
    background-size: cover;
  }
  .main .main_inner {
    position: relative;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .main_inner .main_slogan {
    width: 63%;
    padding: 0;
    padding-top: 18.7%;
    padding-left: 11.5%;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .m_img {
    display: block;
  }
  .main_inner .pc_img {
    display: none;
  }
  .main_inner .main_img01 {
    position: absolute;
    top: 21%;
    left: 5%;
    width: 76.61%;
    max-width: 567px;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .main_img02 {
    position: absolute;
    top: 43.5%;
    left: 8.5%;
    width: 91.75%;
    max-width: 586px;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .main_img03 {
    position: absolute;
    bottom: 16%;
    right: 15.3%;
    width: 76.6%;
    max-width: 489px;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .slogan_bt {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    width: 115px;
    height: 34px;
    margin-top: 30px;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .slogan_bt a {
    color: #4f7161;
    border: 2px solid #4f7161;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
  }
  .main_inner .slogan_bt a:hover {
    background-color: #4f7161;
    color: white;
  }
  .notice {
    position: relative;
    width: 100%;
    height: 140px;
  }
  .notice .notice_left {
    width: 100%;
    height: 70px;
    background-color: #111;
  }
  .notice_left .left_inner_wrap {
    margin: 0 auto;
    width: 90%;
    height: 100%;
  }
  .left_inner_wrap .left_inner {
    position: relative;
    height: 100%;
  }
  .left_inner_wrap .left_inner .notice_slide {
    position: absolute;
    left: 0;
    width: 80%;
    overflow: hidden;
    height: 70px;
  }
  .left_inner .notice_slide p {
    display: none;
  }
  .notice_slide img {
    display: block !important;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .left_inner .notice_slide ul {
    position: relative;
    left: 75%;
    transform: translateX(-50%);
    line-height: 70px;
    width: 100%;
  }
  .left_inner .notice_slide ul li {
    width: 80%;
  }
  .left_inner .notice_slide ul li a {
    width: 100%;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
  .left_inner .notice_plus {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    background: url(img/btn_notice_plus.png) no-repeat;
    background-size: 100% auto;
    cursor: pointer;
  }
  .notice .notice_right {
    width: 100%;
    height: 70px;
    background-color: #f6f5ef;
  }
  .notice_right .right_inner_wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .notice_right .right_inner_wrap .right_inner {
    width: 200px;
    display: flex;
    align-items: center;
  }
  .right_inner p {
    font-weight: bold;
  }
  .prom_wrap {
    position: relative;
    width: 100%;
    height: 446px;
    border-top: 1px solid #f6f5ef;
    background-color: #f6f5ef;
  }
  .prom_slider {
    width: 98%;
    height: 421px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
  }
  .prom_slider_view {
    width: 100%;
    height: 316px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .prom_slider_view ul {
    width: 500%;
    display: flex;
    position: relative;
    left: 382px;
  }
  .prom_slider_view ul.swipeleft {
    left: -382px;
  }
  .prom_slider_view ul li {
    width: 404px;
    margin: 0 5px;
    opacity: 0.4;
  }
  .prom_slider_view ul li a {
    border: 2px solid #222;
    border-radius: 3px;
    color: #222;
    display: block;
    font-size: 14px;
    width: 121px;
    height: 34px;
    line-height: 34px;
    margin: 5px auto 0;
    text-align: center;
  }
  .prom_slider .prev {
    display: none;
  }
  .prom_slider .next {
    display: none;
  }
  .prom_slider .slider_controller {
    position: absolute;
    bottom: 30px;
    width: 100%;
    height: 12px;
    text-align: center;
  }
  .slider_controller .stop {
    display: inline-block;
    background: url(img/main_prom_stop.png);
    width: 9px;
    height: 12px;
    vertical-align: top;
    cursor: pointer;
  }
  .slider_controller .start {
    display: inline-block;
    background: url(img/main_prom_play.png);
    width: 9px;
    height: 12px;
    vertical-align: top;
    cursor: pointer;
  }
  .slider_controller .pager {
    display: inline-block;
    height: 12px;
    vertical-align: top;
  }
  .slider_controller .pager .pager_bt {
    margin-left: 8px;
    float: left;
    height: 12px;
  }
  .slider_controller .pager .pager_bt a {
    display: inline-block;
    background: url(img/main_prom_off.png);
    width: 13px;
    height: 12px;
    vertical-align: top;
  }
  .slider_controller .pager .pager_bt a.active {
    background: url(img/main_prom_on.png);
  }
  .reward_wrap {
    position: relative;
    width: 100%;
    background-color: #1e3932;
    padding: 40px 0 50px 0;
  }
  .reward_wrap .reward_inner {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .reward_inner .logo {
    width: 40%;
    margin: 0 auto 35px;
  }
  .reward_inner .con {
    width: 90%;
    color: #fff;
    letter-spacing: -0.5px;
    padding-right: 0px;
    margin: 0 auto;
  }
  .con .top_con {
    position: relative;
    margin-bottom: 22px;
    border-bottom: 1px solid #4b615b;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .con .top_con .top_txt {
    margin-bottom: 12px;
  }
  .con .top_con .top_txt h2 {
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.4;
  }
  .con .top_con .top_txt p {
    font-size: 14px;
    line-height: 1.4;
  }
  .pc_br {
    display: none;
  }
  .con .top_con .sign_bt {
    width: 80%;
    position: relative;
    left: auto;
    bottom: auto;
    margin-bottom: 20px;
  }
  .con .top_con .sign_bt a {
    width: calc(50% - 9px);
    display: inline-block;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
    color: white;
    border-radius: 3px;
    padding: 0 18.5px;
  }
  .con .top_con .sign_bt .join_bt {
    background-color: #00704a;
    border: 2px solid #00704a;
  }
  .con .top_con .sign_bt .login_bt {
    margin-left: 9px;
    border: 2px solid #fff;
  }
  .con .under_con {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .con .under_con .under_txt {
  }
  .con .under_con .under_txt p {
    font-size: 14px;
    line-height: 1.4;
  }
  .con .under_con .gift_bt {
    position: relative;
    right: 0;
    top: 0;
    width: 183px;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
    margin: 20px 0;
  }
  .con .under_con .gift_bt a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
  }
  .bean_wrap {
    width: 100%;
    height: 172.81vw;
    background: url(img/2022_m_NewYear_bean_bg.png) center/ cover;
  }
  .bean_wrap .bean_inner {
    position: relative;
    height: 100%;
    margin: 0 auto;
  }
  .bean_inner .bean_img {
    position: absolute;
    left: 50%;
    top: 10.6%;
    transform: translate(-28.7%, 11.8%);
    width: 56.74%;
    max-width: 363px;
  }
  .bean_inner .bean_img .pc_bean {
    display: none;
  }
  .bean_inner .bean_img .m_bean {
    display: block;
  }
  .bean_inner .bean_txt {
    position: absolute;
    width: 71.67%;
    top: auto;
    left: 50%;
    bottom: 10.5%;
    transform: translate(-50%, -14%);
    max-width: 459px;
  }
  .bean_inner .bean_txt .pc_bean_txt {
    display: none;
  }
  .bean_inner .bean_txt .m_bean_txt {
    display: block;
  }
  .bean_inner .bean_txt .bean_bt {
    width: 115px;
    height: 34px;
    line-height: 30px;
    margin: 14% auto 0;
    border: 2px solid #453d3d;
    border-radius: 5px;
    text-align: center;
  }
  .bean_inner .bean_txt .bean_bt a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 13px;
    color: #453d3d;
  }
  .bean_inner .bean_txt .bean_bt a:hover {
    background-color: #453d3d;
    color: white;
    transition: 0.7s;
  }
}
