@import url(reset.css);
@media screen and (min-width: 1024px) {
  .wrap {
    position: relative;
    overflow: hidden;
  }

  header {
    position: fixed;
    height: 120px;
    width: 100%;
    margin: 0 auto;
    z-index: 1000;
    font-family: Arial, Georgia;
  }
  .m_gnb_wrap {
    display: none;
  }
  .gnb_wrap {
    background: #f6f5ef;
    border-bottom: 1px solid #e5e5e5;
    border-top: 2px solid #000;
    height: 100%;
  }
  .gnb_wrap .gnb_wrap_inner {
    width: 1100px;
    position: relative;
    margin: 0 auto;
  }
  .gnb_wrap_inner .logo {
    position: absolute;
    top: 22px;
    width: 75px;
    height: 75px;
    z-index: 1001;
  }
  .gnb_wrap_inner .logo a {
    display: block;
    width: 100%;
    height: 100%;
    background: url(img/logo.png);
  }
  .gnb_wrap_inner .gnb_top {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  .gnb_wrap_inner .gnb_top ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 15px;
    right: 93px;
    width: 464px;
    height: 20px;
  }
  .gnb_wrap_inner .gnb_top ul li {
    height: 17px;
  }
  .gnb_wrap_inner .gnb_top ul li a {
    font-size: 13px;
    color: #555;
    z-index: 1;
  }
  .gnb_wrap_inner .gnb_top ul li::after {
    content: "";
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    width: 0;
    height: 50%;
    border-right: 1px solid rgba(0, 0, 0, 10%);
    margin-left: 15px;
  }
  .gnb_wrap_inner .gnb_top ul li:last-child::after {
    border: 0;
  }
  .gnb_wrap_inner .gnb_top .search {
    position: absolute;
    right: 54px;
    top: 9px;
    height: 34px;
    width: 34px;
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  .gnb_wrap_inner .gnb_top .search a {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 34px;
    height: 34px;
    background: url(img/icon_magnifier_black.png) no-repeat 100%;
    background-position: 50%;
  }
  .gnb_wrap_inner .gnb_top .search input {
    position: absolute;
    top: 5px;
    left: 0;
    color: #777;
    border: none;
    font-size: 12px;
    width: 123px;
    height: 22px;
    padding: 0 10px;
    display: none;
    opacity: 0;
    transition: 1s;
  }
  .gnb_wrap .gnb {
    position: absolute;
    top: 54px;
    height: 66px;
    width: 100%;
  }
  .gnb .gnb_inner {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .gnb .gnb_inner > ul {
    display: flex;
    justify-content: center;
    width: 750px;
    height: 100%;
  }
  .gnb .gnb_inner ul .gnb_bt {
    padding: 10px 26px 0;
  }
  .gnb .gnb_inner ul .gnb_bt:hover {
    background-color: #2c2a29;
    cursor: pointer;
  }
  .gnb .gnb_inner ul .gnb_bt > a {
    font-size: 13px;
    display: block;
    width: 100%;
  }
  .gnb .gnb_inner ul .gnb_bt > a.on {
    color: #669900;
    text-decoration: underline;
  }
  .gnb .gnb_inner ul .gnb_bt .gnb_sub_wrap {
    position: absolute;
    left: 0;
    top: 66px;
    width: 100%;
    background-color: #2c2a29;
    display: none;
  }
  .gnb_sub_wrap .gnb_sub {
    padding: 20px 0;
  }
  .gnb_sub_wrap .gnb_sub .gnb_sub_inner {
    width: 1100px;
    margin: 0 auto;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
  }
  .gnb_sub_inner ul {
    width: 220px;
    clear: both;
  }
  .gnb_sub_inner ul li {
    padding: 3px 0;
  }
  .gnb_sub_inner ul li .sub_title {
    color: #fff;
    font-size: 14px;
    padding-bottom: 12px;
  }
  .gnb_sub_inner ul li a {
    font-size: 12px;
    color: #999;
  }
  .gnb_sub_wrap .gnb_sub_under {
    width: 100%;
    padding: 5px 0 20px 0;
    background: url(img/gnb_sub_txbg.jpg);
    display: inline-block;
  }
  .gnb_sub_under .gnb_sub_under_inner {
    width: 1100px;
    margin: 0 auto;
  }
  .gnb_sub_under .gnb_sub_under_inner .gnb_sub_under_inner_txt {
    line-height: 18px;
  }
  .gnb_sub_under .gnb_sub_under_inner .gnb_sub_under_inner_txt a {
    display: block;
    margin-top: 25px;
    font-size: 12px;
    color: #999;
  }
  .gnb_sub_under .gnb_sub_under_inner .gnb_sub_under_inner_txt p {
    color: #64a70b;
    font-size: 12px;
    float: left;
  }
  .header_height {
    position: relative;
    width: 100%;
    height: 120px;
  }
  section {
    position: relative;
  }
  .main {
    width: 100%;
    height: 646px;
    background: url(img/2022_NewYear_main_bg.png) no-repeat center/cover;
  }
  .main .main_inner {
    position: relative;
    width: 1080px;
    height: 100%;
    margin: 0 auto;
  }
  .main_inner .main_slogan {
    max-width: 282px;
    padding-top: 5.1%;
    padding-left: 1.8%;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .m_img {
    display: none;
  }
  .main_inner .main_img01 {
    position: absolute;
    bottom: 14.3%;
    left: 7%;
    width: 52.6%;
    max-width: 567px;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .main_img02 {
    position: absolute;
    bottom: 32.1%;
    right: 15.7%;
    width: 45.6%;
    max-width: 492px;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .main_img03 {
    position: absolute;
    bottom: 18.8%;
    right: -8.7%;
    width: 29.3%;
    max-width: 315px;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .slogan_bt {
    position: absolute;
    left: 9.3%;
    width: 125px;
    height: 38px;
    margin-top: 46px;
    opacity: 0;
    transition: 0.5s;
  }
  .main_inner .slogan_bt a {
    color: #4f7161;
    border: 2px solid #4f7161;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    line-height: 34px;
    border-radius: 5px;
    text-align: center;
    transition: 0.5s;
  }
  .main_inner .slogan_bt a:hover {
    background-color: #4f7161;
    color: white;
  }
  .notice {
    position: relative;
    width: 100%;
    height: 62px;
  }
  .notice .notice_left {
    float: left;
    width: 53%;
    height: 100%;
    background-color: #111;
  }
  .notice_left .left_inner_wrap {
    width: 730px;
    height: 100%;
    float: right;
  }
  .left_inner_wrap .left_inner {
    position: relative;
    margin-left: 89px;
    width: 621px;
    height: 100%;
  }
  .left_inner_wrap .left_inner .notice_slide {
    position: relative;
    width: 494px;
    overflow: hidden;
  }
  .left_inner .notice_slide p {
    float: left;
    display: block;
    line-height: 62px;
    font-size: 17px;
    font-weight: bold;
    color: white;
  }
  .left_inner .notice_slide img {
    display: none;
  }
  .left_inner .notice_slide ul {
    position: absolute;
    left: 65%;
    transform: translateX(-50%);
    line-height: 62px;
    width: 100%;
  }
  .left_inner .notice_slide ul li {
    margin-left: 15px;
    width: 100%;
  }
  .left_inner .notice_slide ul li a {
    display: block;
    font-size: 13px;
    width: 100%;
    color: white;
    font-weight: bold;
  }
  .left_inner .notice_plus {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 36px;
    width: 36px;
    background: url(img/btn_notice_plus.png) no-repeat;
    background-size: 36px;
    cursor: pointer;
  }

  .notice .notice_right {
    float: right;
    width: 47%;
    height: 100%;
    background-color: #f6f5ef;
  }
  .notice_right .right_inner_wrap {
    width: 550px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .notice_right .right_inner_wrap .right_inner {
    width: 234px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  .right_inner p {
    font-weight: bold;
  }
  .prom_wrap {
    position: relative;
    width: 100%;
    height: 658px;
    border-top: 1px solid #f6f5ef;
    background-color: #f6f5ef;
  }
  .prom_slider {
    width: 1100px;
    height: 553px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 39px;
  }
  .prom_slider .prev {
    position: absolute;
    top: 0;
    left: 0;
    width: 131px;
    height: 100%;
    z-index: 1;
  }
  .prom_slider .prev a {
    display: block;
    width: 51px;
    height: 51px;
    border: 2px solid #222222;
    border-radius: 50%;
    background: url(img/arrow_left_on.png) no-repeat center;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .prom_slider .prev a:hover {
    background-color: white;
  }
  .prom_slider .next {
    position: absolute;
    top: 0;
    right: 0;
    width: 131px;
    height: 100%;
    z-index: 1;
  }
  .prom_slider .next a {
    display: block;
    width: 55px;
    height: 55px;
    border: 2px solid #222222;
    border-radius: 50%;
    background: url(img/arrow_right_on.png) no-repeat center;
    transition: 0.7s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .prom_slider .next a:hover {
    background-color: white;
  }
  .prom_slider_view {
    width: 100%;
    height: 541px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .prom_slider_view ul {
    width: 500%;
    display: flex;
    position: relative;
    left: 829px;
  }
  .prom_slider_view ul li {
    width: 819px;
    margin: 0 5px;
    opacity: 0.4;
  }
  .prom_slider_view ul li a {
    border: 2px solid #222;
    border-radius: 3px;
    color: #222;
    display: block;
    font-size: 14px;
    width: 125px;
    height: 38px;
    line-height: 38px;
    margin: -50px auto 0;
    text-align: center;
    position: relative;
  }
  .prom_slider_view ul li a:hover {
    background-color: black;
    color: white;
    font-weight: bold;
    transition: 0.5s;
  }
  .prom_slider .slider_controller {
    position: absolute;
    bottom: -30px;
    width: 1100px;
    height: 12px;
    text-align: center;
  }
  .slider_controller .stop {
    display: inline-block;
    background: url(img/main_prom_stop.png);
    width: 9px;
    height: 12px;
    vertical-align: top;
    cursor: pointer;
  }
  .slider_controller .start {
    display: inline-block;
    background: url(img/main_prom_play.png);
    width: 9px;
    height: 12px;
    vertical-align: top;
    cursor: pointer;
  }
  .slider_controller .pager {
    display: inline-block;
    height: 12px;
    vertical-align: top;
  }
  .slider_controller .pager .pager_bt {
    margin-left: 8px;
    float: left;
    height: 12px;
  }
  .slider_controller .pager .pager_bt a {
    display: inline-block;
    background: url(img/main_prom_off.png);
    width: 13px;
    height: 12px;
    vertical-align: top;
  }
  .slider_controller .pager .pager_bt a.active {
    background: url(img/main_prom_on.png);
  }
  .reward_wrap {
    position: relative;
    width: 100%;
    background-color: #1e3932;
    padding: 30px 0 40px 0;
  }
  .reward_wrap .reward_inner {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .reward_inner .logo {
    width: 16.3%;
    margin: 0 40px;
  }
  .reward_inner .con {
    width: calc(83.7% - 80px);
    padding-right: 30px;
    color: #fff;
    letter-spacing: -0.5px;
  }
  .con .top_con {
    position: relative;
    margin-bottom: 22px;
    border-bottom: 1px solid #4b615b;
  }
  .con .top_con .top_txt {
    margin-bottom: 12px;
  }
  .con .top_con .top_txt h2 {
    margin-bottom: 12px;
    font-size: 26px;
  }
  .con .top_con .top_txt p {
    font-size: 17px;
    line-height: 1.4;
  }
  .con .mobile_br {
    display: none;
  }
  .con .pc_br {
    display: block;
  }
  .con br {
    display: none;
  }
  .con .top_con .sign_bt {
    position: absolute;
    bottom: 20px;
    right: 0;
  }
  .con .top_con .sign_bt a {
    display: inline-block;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    padding: 0 18.5px;
  }
  .con .top_con .sign_bt .join_bt {
    background-color: #00704a;
    border: 2px solid #00704a;
  }
  .con .top_con .sign_bt .login_bt {
    margin-left: 9px;
    border: 2px solid #fff;
  }
  .con .under_con {
    position: relative;
  }
  .con .under_con .under_txt p {
    font-size: 14px;
    line-height: 1.4;
  }
  .con .under_con .gift_bt {
    position: absolute;
    right: 0;
    top: 0;
    width: 183px;
    height: 38px;
    line-height: 36px;
    font-size: 14px;
    border: 2px solid #fff;
    border-radius: 5px;
    text-align: center;
  }
  .con .under_con .gift_bt a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: white;
  }
  .bean_wrap {
    width: 100%;
    height: 572px;
    background: url(img/2022_NewYear_bean_bg.png) center/ cover;
  }
  .bean_wrap .bean_inner {
    position: relative;
    max-width: 1080px;
    height: 100%;
    margin: 0 auto;
  }
  .bean_inner .bean_img {
    position: absolute;
    left: 13.5%;
    top: 14%;
    width: 33.5%;
    max-width: 360px;
  }
  .bean_inner .bean_img img {
    display: none;
  }
  .bean_inner .bean_img .pc_bean {
    display: block;
  }
  .bean_inner .bean_txt {
    position: absolute;
    width: 37.7%;
    top: 32%;
    right: 8.4%;
    max-width: 405px;
  }
  .bean_inner .bean_txt img {
    display: none;
  }
  .bean_inner .bean_txt .pc_bean_txt {
    display: block;
  }
  .bean_inner .bean_txt .bean_bt {
    width: 125px;
    height: 38px;
    line-height: 34px;
    margin-top: 39px;
    border: 2px solid #453d3d;
    border-radius: 5px;
    text-align: center;
  }
  .bean_inner .bean_txt .bean_bt a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 15px;
    color: #453d3d;
    transition: 0.7s;
  }
  .bean_inner .bean_txt .bean_bt a:hover {
    background-color: #453d3d;
    color: white;
  }
  .hawaii_wrap {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(img/reserve_2022_hawaii_kau_bg_v2.jpg) no-repeat
      center/cover;
  }
  .hawaii_wrap .hawaii_inner {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .hawaii_inner .hawaii_title {
    position: relative;
    top: 0;
    margin: 0 auto;
    padding-top: 94px;
    max-width: 1080px;
    z-index: 1;
  }
  .hawaii_inner .hawaii_bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .hawaii_inner .hawaii_bg::before,
  .hawaii_inner .hawaii_bg::after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    background: no-repeat center;
  }
  .hawaii_inner .hawaii_bg::before {
    left: 0;
    width: 539px;
    background: url(img/reserve_2022_hawaii_kau_left_obj_v2.png);
  }
  .hawaii_inner .hawaii_bg::after {
    right: 0;
    width: 509px;
    background: url(img/reserve_2022_hawaii_kau_right_obj_v2.png);
  }
  .hawaii_inner .hawaii_bg img {
    margin: 0 auto;
    height: 100%;
  }
  .hawaii_inner .hawaii_bg .pc_hawaii {
    display: block;
  }
  .hawaii_inner .hawaii_bg .m_hawaii {
    display: none;
  }
  .hawaii_inner .hawaii_bt {
    position: relative;
    max-width: 1080px;
    margin: 0 auto;
    margin-top: 23px;
    padding-left: 281px;
  }
  .hawaii_inner .hawaii_bt a {
    display: block;
    width: 125px;
    height: 38px;
    color: #b9813e;
    font-size: 15px;
    text-align: center;
    line-height: 34px;
    border: 2px solid #b9813e;
    border-radius: 5px;
    transition: 0.7s;
  }
  .hawaii_inner .hawaii_bt a:hover {
    background-color: #b9813e;
    color: white;
    font-weight: bold;
  }
  .pick_wrap {
    position: relative;
    width: 100%;
    height: 800px;
    background: url(img/fav_prod_bg_new.jpg) center fixed no-repeat;
    background-color: #45434c;
    background-size: auto 100%;
  }
  .pick_wrap .pick_inner {
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
  }
  .pick_inner .pick_txt01 {
    background: url(img/fav_prod_txt01.png);
    width: 258px;
    height: 204px;
    position: absolute;
    left: 200px;
    top: 120px;
  }
  .pick_inner .pick_txt02 {
    background: url(img/fav_prod_txt02.png);
    width: 362px;
    height: 156px;
    position: absolute;
    left: 92px;
    top: 370px;
  }
  .pick_inner .pick_img {
    background: url(img/2022_Strawberry_pick_img.png);
    width: 672px;
    height: 458px;
    position: absolute;
    right: -10px;
    top: 100px;
  }
  .pick_inner .pick_bt {
    position: absolute;
    left: 328px;
    top: 570px;
  }
  .pick_inner .pick_bt a {
    display: inline-block;
    width: 125px;
    height: 38px;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 34px;
    text-align: center;
    color: #fff;
    font-size: 15px;
  }
  .pick_inner .pick_bt a:hover {
    background-color: white;
    color: black;
    transition: 0.7s;
  }
  .reserve_wrap {
    position: relative;
    height: 400px;
    background: url(img/reserve_bg_pc.png) no-repeat;
    background-position: 50% 100%;
    background-size: auto 353px;
  }
  .reserve_wrap .reserve_inner {
    position: relative;
    width: 1100px;
    height: 100%;
    margin: 0 auto;
  }
  .reserve_inner .reserve_title {
    position: relative;
    margin: 0 auto;
    padding: 135px 0 0 55px;
    max-width: 1100px;
    width: 100%;
  }
  .reserve_inner .reserve_img {
    position: absolute;
    top: 0;
    right: 60px;
  }
  .reserve_inner .reserve_img .m_img {
    display: none;
  }
  .reserve_inner .reserv_bt {
    position: relative;
    width: 1100px;
    margin: 33px auto 0;
  }
  .reserve_inner .reserv_bt a {
    display: inline-block;
    text-align: center;
    width: 125px;
    height: 38px;
    font-size: 15px;
    border: 2px solid black;
    border-radius: 5px;
    line-height: 34px;
    margin-left: 340px;
  }
  .reserve_inner .reserv_bt a:hover {
    background-color: black;
    color: white;
    transition: 0.7s;
  }
  .store_wrap {
    background: url(img/store_bg.jpg) 100%;
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .store_wrap .store_inner {
    position: relative;
    width: 1280px;
    height: 100%;
    margin: 0 auto;
  }
  .store_inner .store_img01 {
    background: url(img/store_exp_img01.png);
    width: 228px;
    height: 228px;
    position: absolute;
    left: 390px;
    top: 149px;
    z-index: 2;
  }
  .store_inner .store_img02 {
    background: url(img/store_exp_img02.png);
    width: 366px;
    height: 312px;
    position: absolute;
    left: 160px;
    top: 0;
    z-index: 1;
  }
  .store_inner .store_img03 {
    background: url(img/store_exp_img03.png);
    width: 343px;
    height: 142px;
    position: absolute;
    left: 520px;
    top: -60px;
    z-index: 1;
  }
  .store_inner .store_img04 {
    background: url(img/store_exp_img04.png);
    width: 230px;
    height: 102px;
    position: absolute;
    right: 30px;
    top: 298px;
  }
  .store_inner .store_txt01 {
    background: url(img/store_txt01.png);
    width: 385px;
    height: 54px;
    position: absolute;
    right: 149px;
    top: 100px;
  }
  .store_inner .store_txt02 {
    background: url(img/store_txt02.png);
    width: 366px;
    height: 61px;
    position: absolute;
    right: 168px;
    top: 168px;
  }
  .store_inner .store_bt {
    position: absolute;
    right: 402px;
    top: 258px;
    width: 121px;
    height: 34px;
    border: 2px solid black;
    border-radius: 3px;
    line-height: 30px;
    text-align: center;
  }
  .store_inner .store_bt a {
    color: #222;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .store_inner .store_bt a:hover {
    background-color: #222;
    color: white;
    transition: 0.7s;
  }
  footer {
    background: #2c2a29;
    position: relative;
    width: 100%;
    padding: 32px 0 35px 0 !important;
    letter-spacing: -1px;
  }
  footer .footer_menu {
    position: relative;
    background: url(img/footer_logo.png) no-repeat right 8px;
    width: 1182px;
    margin: 0 auto;
    display: flex;
  }
  .footer_menu .mobile_menu {
    display: none;
  }
  .footer_arrow {
    display: none;
  }
  .mobile_sub {
    display: none;
  }
  .footer_menu ul {
    width: 220px;
    margin-bottom: 30px;
  }
  .footer_menu ul li a {
    color: #fff;
    font-size: 12px;
    line-height: 24px;
  }
  .footer_menu ul li.title > a {
    font-size: 14px;
    line-height: 40px;
    color: #fff;
  }
  .mobile_bt {
    display: none;
  }
  .footer_awards {
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 40px;
    background-color: #282828;
  }
  .footer_awards .footer_awards_inner {
    position: absolute;
    width: 1182px;
    left: 50%;
    top: 50%;
    transform: var(--ts);
    padding-bottom: 20px;
  }
  .footer_awards_inner ul {
    display: flex;
  }
  .copyright {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #999;
    padding-top: 30px;
    text-align: center;
    font-size: 12px;
  }
  .awards_slider_warp {
    display: none;
  }
  .copyright ul {
    display: flex;
    justify-content: center;
  }
  .copyright ul li {
    display: flex;
    text-align: center;
  }
  .copyright ul li:first-child > a {
    color: #00b050;
    font-weight: bold;
  }
  .copyright ul li a {
    color: #cccccc;
    padding: 0 10px;
    font-size: 12px;
    border-right: 1px solid #393939;
  }
  .copyright ul li:last-child a {
    border-right: 0;
  }
  .copyright .bt_wrap {
    display: flex;
    justify-content: center;
  }
  .copyright .bt_wrap a.copy_bt {
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    border-radius: 3px;
    width: 114px;
    height: 34px;
    line-height: 30px;
    color: #fff;
    margin: 10px 5px 0 5px;
  }
  .copyright .copy_menu {
    padding: 25px 0 5px 0;
  }
  .copyright .copy_menu ul li {
    margin: 0 7px;
  }
  .copyright span {
    line-height: 40px;
  }
}
